{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- if current_variant.available -%}
  <div class="flex gap-5">
    <span class="inline-block text-lg {% if current_variant.compare_at_price != blank %}text-error{% endif %}">
      {{- current_variant.price | money -}}
    </span>

    {%- if current_variant.compare_at_price != blank -%}
      <del class="text-lg">
        {{- current_variant.compare_at_price | money -}}
      </del>

      <div class="bg-error text-black text-sm tracking-wider uppercase px-2 py-1">
        {{- 'common.sale' | t -}}
      </div>
    {%- endif -%}
  </div>
{%- endif -%}
