<div class="card">
  {%- render 'block-image', block: block -%}
  {%- render 'block-title', block: block -%}
  {%- render 'block-richtext', block: block -%}
  {%- render 'block-cta', block: block -%}
</div>
