{% if block != blank and block.settings.title != blank %}
  <h2 class="{% if block.settings.align_title == 'left' %}text-left{% elsif block.settings.align_title == 'right' %}text-right{% else %}text-center{% endif %}">
    {{ block.settings.title }}
  </h2>
{%- endif -%}
