{%- if product.available -%}
  {%- if product.has_only_default_variant -%}
    {% comment %} This brick doesn't have options, subscription options or quantity. Only the Add to Cart button. {% endcomment %}
    {%- render 'brick-product-submit', product: product -%}
  {%- else -%}
    {%- render 'product-form-v2', product: product -%}
  {%- endif -%}
{%- else -%}
  <span>{{ 'common.sold_out' | t }}</span>
{%- endif -%}
