{%- if product.compare_at_price != blank
  and product.compare_at_price > 0
  and product.compare_at_price > product.price
-%}
  <div class="bg-price z-10 text-white text-sm tracking-wider uppercase absolute top-0 left-0 px-5 py-[2px]">
    {{- 'common.sale' | t -}}
  </div>
{%- endif -%}
