{% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

<div class="w-full h-full {{ class | default: '' }}" style="{{ style | default: '' }}" vue>
  <select
    onchange="
      const url = new window.URL(window.location.href);
      url.searchParams.set('sort_by', event.target.value);
      window.location = url || window.location;
    "
    class="w-full h-full pl-4 pr-2"
  >
    {% for option in collection.sort_options %}
      <option
        value="{{ option.value }}"
        {% if option.value == sort_by %}
          selected="selected"
        {% endif %}
      >
        {{ option.name }}
      </option>
    {% endfor %}
  </select>
</div>
