{% case type %}
  {% when 'error' %}
    {% assign notification_type_class = 'bg-white border-error text-error' %}
  {% when 'warning' %}
    {% assign notification_type_class = 'bg-yellow-100 border-yellow-500 text-yellow-800' %}
  {% when 'success' %}
    {% assign notification_type_class = 'bg-green-100 border-success text-success' %}
  {% else %}
    {% assign notification_type_class = 'bg-blue-100 border-blue-500 text-blue-800' %}
{% endcase %}

<div class="border-l-2 p-4 {{ notification_type_class }} {{ class | default: '' }}" style="{{ style | default: '' }}">
  {{ text }}
</div>
