{% comment %}
  Rendered Navigation if we need it. 
  Realistically, though, a navigation should be a Renderless component
  given the items should be on the page immediately for SEO value.
{% endcomment %}

{%
  assign menu = section.settings.menu 
%}

{% if menu != blank %}
  <div vue>
    <site-navigation :menu='{% render 'helper-theme-menu-js' menu_handle: menu %}'></site-navigation>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}