{% style %}
  {% if section.settings.fixed %}
    .header-bar {
      position: sticky;
      top: 0;
      background: white;
      z-index: 30;
    }
  {% endif %}
{% endstyle %}

<div class="flex justify-between container py-20">
  {% render 'mobile-menu' %}

  {% render 'layout-header-navigation-bar', menu: section.settings.menu %}

  {% render 'side-cart' %}
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "class": "h-70 header-bar",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "fixed",
      "label": "Fixed?",
      "info": "This option will make the header fixed while scrolling through the page.",
      "default": true
    }
  ]
}
{% endschema %}
