<div class="section-{{ kebabCase name }}">
  Section {{ kebabCase name }}
</div>

{% schema %}
{
  "name": "t:sections.{{ kebabCase name }}.name",
  "class": "shopify-section-vue",
  "settings": [],
  "blocks": [],
  "presets": []
}
{% endschema %}