<div class="section-{{ kebabCase name }}">
  Section {{ kebabCase name }}
</div>

{% schema %}
{
  "name": "{{ kebabCase name }}",
  "class": "shopify-section-vue",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "{{ titleCase name }}",
      "category": "Theme"
    }
  ]
}
{% endschema %}