{% if subscription.product and subscription.product.shopify_details.images %}
    {% set shopify_details = subscription.product.shopify_details %}
    {% if shopify_details.variants | length > 1 and shopify_details.images | length > 1 %}
        {% for variant in shopify_details.variants %}
            {% if variant.shopify_id == subscription.shopify_variant_id %}
                {% set chosen_variant = variant  %}
                {% for image in shopify_details.images %}
                    {% if image.shopify_id == chosen_variant.shopify_image_id %}
                        <img src="{{ image.src | img_url('100x100') }}" alt="{{ subscription.product_title | replace('Auto renew', '') }}">
                        {% break %}
                    {% elif loop.index == loop.length %}
                        <img src="{{ shopify_details.image.src }}" alt="{{ subscription.product_title | replace('Auto renew', '') }}"><br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% if store.external_platform == 'shopify' %}
            <img src="{{ shopify_details.images[0].src | img_url('100x100') }}" alt="{{ subscription.product_title | replace('Auto renew', '') }}">
        {% else %}
            {% set photo = shopify_details.images | last %}
            <img src="{{ photo.src | img_url('100x100') }}" alt="{{ subscription.product_title | replace('Auto renew', '') }}">
        {% endif %}
    {% endif %}
{% else %}
    <img src="//rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/no-image.png" width="100px" height="100px"><br>
{% endif %}