{% extends "base.html" %}

{% block content %}

<script>
    (function() {
        ReCharge.Novum.payment_sources = {{ payment_sources | json }};
        ReCharge.Novum.addresses = [{{subscription.address | json }}];
        ReCharge.Novum.subscription = {{ subscription | json }};
        ReCharge.Novum.store = {{ store | json }};
        ReCharge.Novum.settings = {{ settings | json }};

        document.addEventListener("DOMContentLoaded", () => {
            fetchChargesOnetimes();

            const rcProducts = JSON.parse(sessionStorage.getItem('rc_products')) || null;
            if (rcProducts) {
                if (rcProducts.length > 0) {
                    renderUpsells('upsell', rcProducts);
                }
                else {
                    const upsellWrapper = document.querySelector(".upsells--wrapper") || null;
                    upsellWrapper.innerHTML = ReCharge.Utils.renderNoProductsLayout();
                }
            } else {
                fetchProducts(1);
            }
        });
    })();
</script>

<div id="app">
  <header class="header">
    <h2 class="eyebrow">Edit Order Details</h2>
    <p class="title">{[ currentSubscription.product_title ]} - ${[ currentSubscription.price]}</p>
  </header>
  
  <div>
    <div class="order-detail-block my-12 flex flex-col">
    	Product Details
      <p v-on:click="openSidebar('product')">Edit Product</p>
      <p>{[ currentSubscription.product_title ]} - {[ currentSubscription.variant_title ]}</p>
      <p>Quantity: {[ currentSubscription.quantity ]}</p>
      <p>Price: ${[ currentSubscription.price ]}</p>
    </div>
    
    <div class="order-detail-block mb-5 flex" v-on:click="openSidebar('date')">
      <div>
        <p class="eyebrow">Shipping Date</p>
        <p class="text gta-med" v-if="currentSubscription.status === 'ACTIVE'">{[ formatDate(currentSubscription.next_charge_scheduled_at) ]}</p>
        <p class="text" v-if="currentSubscription.status !== 'ACTIVE'">{[ currentSubscription.status ]}</p>
      </div>
      <svg width="9" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill="#191919" d="M1.06 14.131L0 13.071 7.07 6l1.061 1.06z" />
        <path fill="#191919" d="M0 1.06L1.061 0l7.071 7.071-1.06 1.06z" />
      </svg>
    </div>
    
    <div class="order-detail-block mb-5 flex" v-on:click="openSidebar('frequency')">
      <div>
        <p class="">Frequency</p>
        <p class="" v-text="renderIntervalText"></p>
      </div>
      <svg width="9" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill="#191919" d="M1.06 14.131L0 13.071 7.07 6l1.061 1.06z" />
        <path fill="#191919" d="M0 1.06L1.061 0l7.071 7.071-1.06 1.06z" />
      </svg>
    </div>
    
    <div class="order-detail-block mb-5 flex" v-if="onetimes.length > 0">
      <div>
        <p class="">Add On Products</p>
        <div
			v-for="onetime in onetimes" 
             :key="onetime.id" 
             v-on:click="openSidebar('onetime')"
			>
          {[ onetime.product_title ]}
        </div>
      </div>
    </div>
    
    <div class="order-detail-block mb-5 flex" v-on:click="openSidebar('shipping')">
      <div>
        <p class="">Shipping Address</p>
        <div class="mt-5">
          <p>Name: {[ currentSubscription.address.first_name ]} {[ currentSubscription.address.last_name ]}</p>
          <p v-if="payment.billing_address.company != ''">Compnay: {[ currentSubscription.address.company ]}</p>
          <p>Address: {[ currentSubscription.address.address1 ]} {[ currentSubscription.address.address2 ]}</p>
          
          <p class="text gta-med">{[ currentSubscription.address.city ]}, {[ currentSubscription.address.province ]} {[ currentSubscription.address.zip ]}</p>
        </div>
      </div>
      <svg width="9" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill="#191919" d="M1.06 14.131L0 13.071 7.07 6l1.061 1.06z" />
        <path fill="#191919" d="M0 1.06L1.061 0l7.071 7.071-1.06 1.06z" />
      </svg>
    </div>
    
    <div class="order-detail-block mb-5 flex" v-on:click="openSidebar('billing')">
      <div>
        <p class="">Billing Address</p>
        <div>
          <p class="">Name : {[ payment.billing_address.first_name ]} {[ payment.billing_address.last_name ]}</p>
          <p class="" v-if="payment.billing_address.company != ''">Company: {[ payment.billing_address.company ]}</p>
          <p class="">Address: {[ payment.billing_address.address1 ]} {[ payment.billing_address.address2 ]}</p>
          
          <p class="text font-semibold">Address etc: {[ payment.billing_address.city ]}, {[ payment.billing_address.province ]} {[ payment.billing_address.zip ]}</p>
        </div>
      </div>
      <svg width="9" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill="#191919" d="M1.06 14.131L0 13.071 7.07 6l1.061 1.06z" />
        <path fill="#191919" d="M0 1.06L1.061 0l7.071 7.071-1.06 1.06z" />
      </svg>
    </div> 
    
    <div class="order-detail-block mb-5 flex" v-if="cardOnFile" v-on:click="openSidebar('credit-card')">
      <div>
        <p class="eyebrow">Card On File</p>
        <div>
          <p class="text gta-med"><span class="capitalize">{[ cardOnFile.card_brand ]}</span> ending in {[ cardOnFile.card_last4 ]}</p>
          <p class="text gta-med">Expires {[ cardOnFile.card_exp_month ]}/{[ cardOnFile.card_exp_year ]}</p>
        </div>
      </div>
      <svg width="9" height="15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill="#191919" d="M1.06 14.131L0 13.071 7.07 6l1.061 1.06z" />
        <path fill="#191919" d="M0 1.06L1.061 0l7.071 7.071-1.06 1.06z" />
      </svg>
    </div> 
    
    
    <!-- Primary Subscription Button Actions -->
    <div class="btn-actions">
      <button class="btn btn-lg" v-on:click="skipShipment" v-if="currentSubscription.status === 'ACTIVE'" :disabled="skipLoading">
         <span class="spinner" v-bind:class="{ 'opacity-100': skipLoading, 'opacity-0': !skipLoading }">
			    <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/></svg>
         </span>
        <span class="btn-text" v-bind:class="{ 'opacity-0': skipLoading }">
	        Skip This Shipment
        </span>
      </button>
      
      <button v-if="currentSubscription.status === 'ACTIVE'" class="btn btn-lg btn--inverted" v-on:click="openSidebar('skip')">
         <span class="spinner" v-bind:class="{ 'opacity-100': cancelButtonLoading, 'opacity-0': !cancelButtonLoading }">
			    <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/></svg>
         </span>
        <span class="btn-text" v-bind:class="{ 'opacity-0': cancelButtonLoading }">
	        Cancel Your membership
        </span>
      </button>
      
      <button v-if="currentSubscription.status === 'CANCELLED'" class="btn btn-lg" v-on:click="activateSubscription" v-bind:class="{ 'w-full': currentSubscription.status === 'CANCELLED' }" :disabled="reactiveButtonLoading">
         <span class="spinner" v-bind:class="{ 'opacity-100': reactiveButtonLoading, 'opacity-0': !reactiveButtonLoading }">
			    <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/></svg>
         </span>
        <span class="btn-text" v-bind:class="{ 'opacity-0': reactiveButtonLoading }">
        	Reactivate membership
        </span>
      </button>
    </div>
    
    <!-- Product Add Ons -->
    <div class="border-t border-divider-gray mt-16 pt-12" v-if="oneOffProducts && oneOffProducts.length > 0">
      <div class="max-w-md mx-auto text-center mb-10">
          <h3 class="ros m-heading">Add another flavor</h3>
          <p>Order another bottle as a one-time addition to your upcoming shipment and enjoy your membership discount</p>
      </div>
      <ul class="flex flex-col lg:flex-row justify-center lg:flex-wrap">
        <li class="mb-14 lg:w-1/3 lg:mb-8 text-center" v-for="product in oneOffProducts" :key="product.handle">
          <product-card 
              :discount="highestDiscountCode" 
              :product="product"  
              :add-to-order="addOneTimeProductToOrder"
              :onetimes="onetimes"
              :loading-onetimes="loadingOnetimes"
              @remove-onetime="removeOnetime"
              @purchase-addon="addOneTimeProductToOrder"
          ></product-card>
        </li>
      </ul>
    </div>
  </div>
  
  
  <!-- Slide Out Overlay -->
  <div class="sidebar-bg" v-bind:class="{ 'is-open': sidebar, 'is-loading': sidebarLoading }"></div>
  
  <div 
    class="sidebar max-w-md border border-black absolute right-0 top-0 bottom-0 transform bg-white z-10 border border-left" 
    v-bind:class="{ 
     'is-open translate-x-0': sidebar, 
     '-translate-x-full': !sidebar, 
     'is-loading': sidebarLoading 
     }"
  >
    <button class="close" v-on:click="closeSidebar"><svg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#191919" d="M13.071 0l1.06 1.06-7.07 7.072L6 7.07z"/><path fill="#191919" d="M14.132 13.072l-1.06 1.06L6 7.062 7.06 6z"/><path fill="#191919" d="M1.06 14.132L0 13.07 7.07 6l1.061 1.06z"/><path fill="#191919" d="M0 1.06L1.06 0l7.072 7.07-1.06 1.062z"/></svg></button>

    <div class="sidebar-inner text-center">
      <p v-if="sidebarToDisplay && renderSidebarText.eyebrow">{[ renderSidebarText.eyebrow ]}</p>
      <p v-if="sidebarToDisplay && renderSidebarText.text">{[ renderSidebarText.text ]}</p>

      <div>
        <div class="options-panel" v-bind:class="{'loading': sidebarLoading, 'loading': processingRequest }">
          
          <product
            v-if="sidebarToDisplay == 'product'" 
			:subscription="currentSubscription"
             @swap-subscription="displaySubscriptionSidebar"
             @update-product="updateExistingProduct"
		  >
          	</product>
          <shipping 
              v-if="sidebarToDisplay == 'shipping'" 
              :states="states" 
              :update-shipping-loading="updateShippingLoading"
              :shipping_address="shipping_address" 
              @update-shipping="updateShippingAddress"></shipping>

          <billing 
              v-if="sidebarToDisplay == 'billing'" 
              :states="billingStates" 
              :billing-address="billingAddress"
              :update-billing-loading="updateBillingLoading"
              @update-billing="updateBillingAddress"></billing>

          <frequency 
              v-if="sidebarToDisplay == 'frequency'"
              :selected-frequency="selectedFrequency"
              @frequency-change="frequencyHandler"           
          ></frequency>

          <calendar 
              v-if="sidebarToDisplay == 'date'" 
              :selectedDate="selectedDate" 
              :reschedule-button-loading="rescheduleButtonLoading"
              @date-change="dateChangeHandler" 
              @update-calendar="rescheduleHandler"></calendar>

          <cancel 
              @cancel-subscription="cancelSubscription"
              @skip-shipment="skipShipment"
              :cancel-button-loading="cancelButtonLoading"
              :skip-loading="skipLoading"
              :subscription="currentSubscription"
              :update-sidebar="updateSidebarText"
              v-if="sidebarToDisplay == 'cancel' || sidebarToDisplay == 'skip'"></cancel>

          <credit-card 
              v-if="sidebarToDisplay == 'credit-card'"
          :cc-iframe="cc_form_url"></credit-card>
          
          <swap-product 
			v-if="sidebarToDisplay == 'swap-product'"
			:products="swappableProducts"
             @swap-subscription="swapSubscription"
			></swap-product>
        </div>

         <button 
          class="btn btn-lg mt-2" 
          v-bind:class="{ 'is-loading': frequencyButtonLoading }"  
          v-if="sidebarToDisplay === 'frequency'" 
          v-on:click="updateFrequency" 
          :disabled="frequencyButtonLoading">
           <span class="spinner" v-bind:class="{ 'opacity-100': frequencyButtonLoading, 'opacity-0': !frequencyButtonLoading }">
              <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/></svg>
           </span>
           <span v-bind:class="{ 'opacity-0': frequencyButtonLoading }">
              Update Frequency
           </span>
         </button>
      </div>
    </div>
  </div>
  
</div>

<script>

var headers = {
  "Accept": "application/json",
  "Content-Type": "application/json",
}

window.__theme.endpoints = {
  token: getToken(),
  customerBase: "{{ shopify_proxy_url if proxy_redirect else '' }}/portal/{{ customer.hash }}/",
  base: 'https://api.rechargeapps.com/',
  onetime: 'onetimes',
  products: 'products',
  subscriptions: 'subscriptions',
};
  
Vue.component('calendar', {
  delimiters: ['{[', ']}'],
  props: ['selectedDate', 'rescheduleButtonLoading'],
  data: function () {
    return {
      date: null,
      processingRequest: false,
    }
  },
  watch: {
    date(newVal, oldVal) {
      this.$emit('date-change', newVal)
    }
  },
  methods: {
    eventHandler() {
      this.$emit('update-calendar')
    }
  },
  template: `
    <div class="custom-calendar">
      <v-date-picker :min-date='new Date()' v-model="date" is-expanded />
      <button 
      	class="btn btn-lg mt-4" 
        :disabled="date === null || rescheduleButtonLoading"
        :class="{ 'is-loading': rescheduleButtonLoading }" 
        v-on:click.prevent="eventHandler">
  
           <span class="spinner" v-bind:class="{ 'opacity-100': rescheduleButtonLoading, 'opacity-0': !rescheduleButtonLoading }">
			<svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/></svg>
         </span>
         <span class="btn-text" v-bind:class="{ 'opacity-0': rescheduleButtonLoading }">
			Reschedule
         </span>
		</button>
    </div>
  `
});
  
Vue.component('billing', {
  delimiters: ['{[', ']}'],
  props: ['states', 'updateBillingLoading', 'billingAddress'],
  data: function () {
    return {
      fname: null,
      lname: null,
      address1: null,
      address2: null,
      company: null,
      city: null,
      state: null,
      zipcode: null,
      phone: null,
    }
  },
  methods: {
    submitHandler(evt) {
      evt.preventDefault();
      
      const {
		address, 
        address2, 
        city, 
        fname, 
        lname, 
        phone, 
        state, 
        zipcode,
      } = evt.target.elements;
      
      this.$emit('update-billing', {
        billing_address1: address.value,
        billing_address2: address2.value,
        billing_city: city.value,
        billing_company: company.value,
        billing_first_name: fname.value,
        billing_last_name: lname.value,
        billing_phone: phone.value,
        billing_province: state.value,
        billing_zip: zipcode.value,
      })
    }
  },
  mounted() {
    const {
	  first_name,
      last_name,
      company, 
      address1,
      address2, 
      province, 
      zip,
      email, 
      phone,
      city
    } = this.billingAddress;
    
    
	this.fname = first_name;
	this.lname = last_name;
	this.address1 = address1;
	this.address2 = address2;
	this.company = company;
	this.city = city;
	this.state = province;
	this.zipcode = zip;
	this.email = email;
	this.phone = phone;
  },
  
  template: `
    <form @submit.prevent="submitHandler">
      <label class="custom-input" for="fname">
        <span class="input-label">First Name</span>
       	<input type="text" id="fname" name="fname" required v-model="fname">
      </label>
      
      <label class="custom-input" for="lname" >
        <span class="input-label">Last Name</span>
       	<input type="text" id="lname" name="lname" required v-model="lname">
      </label>
      
      <label class="custom-input" for="address" >
        <span class="input-label">Address</span>
       	<input type="text" id="address" name="address" required v-model="address1">
      </label>
      
      <label class="custom-input" for="address2" >
        <span class="input-label">Address 2</span>
       	<input type="text" id="address2" name="address2" v-model="address2">
      </label>
      
      <label class="custom-input" for="company">
        <span class="input-label">company</span>
       	<input type="text" id="company" name="company" required v-model="company">
      </label>
      
      <label class="custom-input" for="city">
        <span class="input-label">city</span>
       	<input type="text" id="city" name="city" required v-model="city">
      </label>
      
      <label class="custom-input" for="state">
        <span class="input-label">state</span>
		<select class="form-control-select" name="state" id="state" v-model="state" required>
  			<option v-for="state in states" :key="state" :value="state">{[ state ]}</option>
  		</select>
      </label>
      
      <label class="custom-input" for="zipcode">
        <span class="input-label">zipcode</span>
       	<input type="text" id="zipcode" name="zipcode" required v-model="zipcode">
      </label>
      
      <label class="custom-input" for="phone">
        <span class="input-label">phone</span>
       	<input type="text" id="phone" name="phone" v-model="phone">
      </label>
      
      <button class="btn btn-lg" :disable="updateBillingLoading">
           <span class="spinner" v-bind:class="{ 'opacity-100': updateBillingLoading, 'opacity-0': !updateBillingLoading }">
			<svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/></svg>
         </span>
         <span v-bind:class="{ 'opacity-0': updateBillingLoading }">
         	Update Billing
         </span>
  	  </button>
  	</form>
  `
});
  
Vue.component('shipping', {
  delimiters: ['{[', ']}'],
  props: ['states', 'shipping_address', 'updateShippingLoading'],
  data: function () {
    return {
      fname: null,
      lname: null,
      address1: null,
      address2: null,
      company: null,
      city: null,
      state: null,
      zipcode: null,
      email: null,
      phone: null,
    }
  },
  methods: {
    submitHandler(evt) {
      const {
		address, 
        address2, 
        city, 
        fname, 
        lname, 
        email, 
        phone, 
        state, 
        zipcode
      } = evt.target.elements;
      
      this.$emit('update-shipping', {
        billing_address1: address.value,
        billing_address2: address2.value,
        billing_city: city.value,
        billing_company: company.value,
        billing_first_name: fname.value,
        billing_last_name: lname.value,
        billing_phone: phone.value,
        billing_province: state.value,
        billing_zip: zipcode.value,
        email: email.value
      })      
    }
  },
  mounted() {
    const {
      first_name, 
      last_name, 
      address1,
      address2, 
      company, 
      city, 
      province, 
      zip, 
      email, 
      phone
    } = this.shipping_address;
    
    this.fname = first_name;
    this.lname = last_name;
    this.address1 = address1;
    this.address2 = address2;
    this.company = company;
    this.city = city;
    this.state = province;
    this.zipcode = zip;
    this.email = email;
    this.phone = phone;
  },
  template: `
  	<div>
      <form @submit.prevent="submitHandler">
        <label class="custom-input" for="fname">
          <span class="input-label">First Name</span>
          <input type="input" id="fname" name="fname" required v-model="fname">
        </label>

        <label class="custom-input" for="lname" >
          <span class="input-label">Last Name</span>
          <input type="input" id="lname" name="lname" required v-model="lname">
        </label>

        <label class="custom-input" for="address" >
          <span class="input-label">Address</span>
          <input type="input" id="address" name="address" required v-model="address1">
        </label>

        <label class="custom-input" for="address2" >
          <span class="input-label">Address 2</span>
          <input type="input" id="address2" name="address2" v-model="address2">
        </label>

        <label class="custom-input" for="company">
          <span class="input-label">company</span>
          <input type="input" id="company" name="company" v-model="company">
        </label>

        <label class="custom-input" for="city">
          <span class="input-label">city</span>
          <input type="input" id="city" name="city" required v-model="city">
        </label>

        <label class="custom-input" for="state">
          <span class="input-label">state</span>
          <select class="form-control-select" name="state" id="state" v-model="state" required>
              <option v-for="state in states" :key="state" :value="state">{[ state ]}</option>
          </select>
        </label>

        <label class="custom-input" for="zipcode">
          <span class="input-label">zipcode</span>
          <input type="text" id="zipcode" name="zipcode" required v-model="zipcode">
        </label>

        <label class="custom-input" for="email">
          <span class="input-label">email</span>
          <input type="text" id="email" name="email" v-model="email">
        </label>

        <label class="custom-input" for="phone">
          <span class="input-label">phone</span>
          <input type="tel" id="phone" name="phone" v-model="phone">
        </label>

        <button class="btn btn-lg" :disabled="updateShippingLoading">
          <span class="spinner" v-bind:class="{ 'opacity-100': updateShippingLoading, 'opacity-0': !updateShippingLoading }">
              <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/></svg>
           </span>
           <span v-bind:class="{ 'opacity-0': updateShippingLoading }">
           Update Shipping Address
           </span>
       </button>
      </form>
	</div>
  `
});
  
Vue.component('frequency', {
  delimiters: ['{[', ']}'],
  props: ['selectedFrequency', 'subscription', 'selectedSubscription'],
  watch: {
    frequency(newVal, oldVal) {
      this.$emit('frequency-change', newVal)
    }
  },
  mounted() {
    this.frequency = Number(this.selectedFrequency);
  },
  data: function () {
    return {
      frequency: null,
    }
  },
  template: `
  <div>
    <label class="custom-radio">
      <input type="radio" name="frequency" id="1-month" value="1" v-model="frequency">
      <span class="custom-radio__visual"></span>
      <span class="input-label" >Every Month</span>
    </label>
    
    <label class="custom-radio">
      <input type="radio" name="frequency" id="2-month" value="2" v-model="frequency">
      <span class="custom-radio__visual"></span>
      <span class="input-label" >Every 2 Months</span>
    </label>
    
    <label class="custom-radio">
      <input type="radio" name="frequency" id="3-month" value="3" v-model="frequency">
      <span class="custom-radio__visual"></span>
      <span class="input-label" >Every 3 Months</span>
    </label>
  </div>
  `
});
  
Vue.component('swap-product', {
  delimiters: ['{[', ']}'],
  props: ['products'],
  watch: {
    query(newVal, oldVal) {
		this.filteredBooks = this.products.filter(product => product.title.toLowerCase().includes(newVal.toLowerCase()));
    },
    selectedSwap(newVal, oldVal) {
      console.log('selectedSwapProduct: ', newVal)
      const prod = newVal.shopify_details;
      const variants = prod.variants;
      
		console.log(variants)
      if (variants.length === 1 && variants[0].title === 'Default Title') {
        this.selectedVariant = variants[0]
      }
    }
  },
  mounted() {
    this.filteredBooks = this.products;
  },
  methods: {
    eventHandler(payload) {
      console.log('event handler')
      this.$emit('swap-subscription', {
        product: this.selectedSwap,
        variant: this.selectedVariant,
      })
    },
    selectedSwapProduct(product) {
      this.selectedSwap = product;
    },
    selectSwapVariant(variant) {
      this.selectedVariant = variant
    },
  },
  data: function () {
    return {
      query: '',
      selectedSwap: null,
      selectedVariant: null,
      filteredBooks: []
    }
  },
  template: `
  <div>
  	<h1 class="text-lg font-bold">TODO: This needs to hooked up to the "swap" endpoint. The theme we tested in didn't have it available</h1>
	<div>
  		Search
        <label for="product-search">
        	<input v-model="query" id="product-search" name="product-search" placeholder="Product Search"/>
		</label>
        
  	</div>
    <div>
    	<ul>
  			<li v-for="product in filteredBooks" :key="product.id">
            	<div @click="selectedSwapProduct(product)">
  				{[ product.title ]}
				</div>
  			</li>
  		</ul>
        
        <div class="my-6" v-if="selectedSwap">
        	<p>Selected Product </p>
  			{[ selectedSwap.title ]}
            
            <div v-if="selectedSwap.shopify_details.variants.length > 1">
            	<p>Variants</p>
                <ul>
  
  					<li v-for="variant in selectedSwap.shopify_details.variants">
                    	<div @click="selectSwapVariant(variant)"
                        	:class="{'bg-slate-500': variant === selectedVariant}"
                        >
	                    	{[ variant.title ]}
						</div>
  					</li>
  				</ul>
  			</div>
  		</div>
        
        <div>
  			<button>Update</button>
  			<button @click="eventHandler">Swap Product</button>
  		</div>
	</div>
  </div>
  `
});
  
Vue.component('product', {
  delimiters: ['{[', ']}'],
  props: ['subscription'],
  watch: {},
  mounted() {
    this.quantity = this.subscription.quantity;
  },
  methods: {
    formatPrice(sub) {
      return `$${sub.price}`
    },
    increaseQuantity() {
      this.quantity = this.quantity + 1;
    },
    decreaseQuantity() {
      if (this.quantity === 1) return false;
      this.quantity = this.quantity - 1;
    },
    swapHandler() {
      this.$emit('swap-subscription')
    },
	updateHandler() {
      this.$emit('update-product', {
        quantity: String(this.quantity),
      })
    }
  },
  data: function () {
    return {
      quantity: null,
    }
  },
  template: `
  <div>
	<div v-if="subscription">
  		<img :src="subscription.product.shopify_details.image.src" :alt="subscription.product.shopify_details.image.alt" />
        <p>{[ subscription.product_title ]} - {[ subscription.variant_title ]}</p>
        <p>{[ formatPrice(subscription) ]}</p>
        <p>Quantity: {[ subscription.quantity ]}</p>
        <div v-if="quantity">
        	<p>Quantity count: {[ quantity ]}</p>
            <button @click.prevent="increaseQuantity">Increase</button>
            <button @click.prevent="decreaseQuantity">Decrease</button>
		</div>
        <div>
  			<button @click.prevent="updateHandler">Update Subscription</button>
  			<button @click.prevent="swapHandler">Swap Subscription</button>
  		</div>
  	</div>
  </div>
  `
});
  
Vue.component('cancel', {
  delimiters: ['{[', ']}'],
  props: ['cancelButtonLoading', 'subscription', 'skipLoading', 'updateSidebar'],
  data: function () {
    return {
      reason: null,
      skip: true,
      displayOptions: false,
      confirmation: false,
      feedback: '',
      delayInDays: 0,
      questions: [
      	{
      		text: 'Too Expensive',
      		id: 'expensive',
		},
      	{
      		text: 'I subscribed by accident',
      		id: 'accident',
		},
      	{
      		text: 'I have more than I need',
      		id: 'moreThanNeeded',
		},
      	{
      		text: 'I need it sooner',
      		id: 'needSooner',
		},
      	{
      		text: 'I don\'t drink Haus anymore',
      		id: 'dontDrinkHaus',
		},
      	{
      		text: 'I want a different flavor',
      		id: 'differentFlavor',
		},
      	{
      		text: 'Other',
      		id: 'other',
		}
      ]
    }
  },
  methods: {
    formatDate() {
      const d = new Date(this.subscription.next_charge_scheduled_at)
      return dateFns.format(d, 'MMMM Do, YYYY')
    },
    formatSkipProcessDate() {
      const d = new Date(this.subscription.next_charge_scheduled_at)

      return dateFns.format(dateFns.addDays(d, this.delayInDays), 'MMMM Do, YYYY')
    },
    displayConfirmation() {
      this.confirmation = true;
      this.displayOptions = false;
      this.skip = false;
    },
    displayOptionsPanel() {
      this.displayOptions = true;
      this.skip = false;
          this.updateSidebar('cancel')
    },
    cancellationHandler() {
      this.$emit('cancel-subscription', {
        feedback: this.feedback,
        reason: this.reason
      })
    },
    skipHandler() {
	  this.$emit('skip-shipment', {
        feedback: this.feedback,
        reason: this.reason
      })
    }
  },
  mounted() {
    this.delayInDays = 30 * this.subscription.order_interval_frequency; 
  },
  template: `
  <div v-bind:class="{ 'is-loading opacity-50 pointer-events-none': cancelButtonLoading || skipLoading }">
  	<div v-if="skip">
 		<p>Your upcoming shipment on {[ formatDate() ]} will be skipped.</p>
        <p class="mt-12 mb-3 font-bold">Your next shipment will process on {[ formatSkipProcessDate() ]}.</p>
  	</div>
  
  	<div class="options-panel" v-if="displayOptions && !skip">
      <label class="custom-radio" v-for="question in questions" :key="question.id">  
        <input type="radio" name="cancellation" :id="question.id" :value="question.text" v-model="reason">
        <span class="custom-radio__visual"></span>
        <span class="input-label" >{[ question.text ]}</span>
      </label>
	</div>
    
    <div v-if="confirmation">
    	<textarea class="w-full p-3" placeholder="Extra feedback? Share it here!" v-model="feedback"></textarea>
	</div>
    
    <div v-if="skip && !displayOptions && !confirmation">
        <button class="btn btn-lg mt-3" :disabled="skipLoading" v-on:click="skipHandler">
             <span class="spinner" v-bind:class="{ 'opacity-100': skipLoading, 'opacity-0': !skipLoading }">
              <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/></svg>
           </span>
           <span v-bind:class="{ 'opacity-0': skipLoading }">
			Skip Shipment
           </span>
       </button>
        <p>
        	<span v-on:click="displayOptionsPanel" class="small-text-link text-link">Cancel Membership</span>
		</p>
	</div>
    
    <button class="btn btn-lg mt-3" v-on:click="displayConfirmation" v-if="!skip && !confirmation">Proceeed</button>
    
    <button class="btn btn-lg mt-3" :disabled="cancelButtonLoading" v-on:click="cancellationHandler" v-if="confirmation">
         <span class="spinner" v-bind:class="{ 'opacity-100': cancelButtonLoading, 'opacity-0': !cancelButtonLoading }">
          <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/></svg>
       </span>
       <span v-bind:class="{ 'opacity-0': cancelButtonLoading }">
	       Cancel Membership
       </span>
   </button>
  </div>
  `
});
  
Vue.component('credit-card', {
  delimiters: ['{[', ']}'],
  props: ['ccIframe'],
  data: function () {
    return {
    }
  },
  methods: {
    submitHandler(evt) {
      evt.preventDefault();
      this.$emit('update-credit')
    }
  },
  template: `
    <div v-if="ccIframe">
      <div v-html="ccIframe"></div>
  	</div>
  `
});
  
Vue.component('product-card', {
  delimiters: ['{[', ']}'],
  props: ['product', 'addToOrder', 'discount', 'onetimes', 'loadingOnetimes'],
  data: function () {
    return {
      atcText: 'Add To Order',
      loading: false,
      addOn: null,
    }
  },
  computed: {
    alreadyInCart() {
      const found = this.onetimes.find(p => p.shopify_product_id === this.product.shopify_product_id)
      return found;
    },
    isDiabled() {
      const found = this.onetimes.find(p => p.shopify_product_id === this.product.shopify_product_id)
      if (found) {
		return true;
	  }
      if (this.product.isLoading) {
        return true
      } 
    },
    atcButtonText() {
      const found = this.onetimes.find(p => p.shopify_product_id === this.product.shopify_product_id)

      if (this.product.isLoading) {
        return 'Loading...'
      } else if (found) {
		return 'Included In Order';        
      } else {
        return 'Add To Order';
      }
    },
  },
  watch: {
    product: {
      handler: function (newVal, oldVal){
      	console.log('new val: ', newVal)
      },
	  deep: true
	}
  },
  methods: {
    buttonText() {
    },
    price(price) {
      const comparePrice = this.discount ? price - (price * this.discount) : false;
      if (comparePrice) {
        return `<span class="line-through inline-block mr-2">$${price}</span><span class="inline-block">$${comparePrice.toFixed(2)}</span>`
      } else {
        return `<span>$${price}</span>`
      }
    },
    addToCart() {
      this.loading = true;
      this.$emit('purchase-addon', this.product);
    },
    removeOnetime() {
      this.loading = true;
      this.$emit('remove-onetime', {
        addOn: this.addOn,
        product: this.product,
      })
    },
    assignAddOn() {
      	const onetimePurchase = this.onetimes.find(onetime => onetime.shopify_product_id === this.product.shopify_product_id)
    this.addOn = onetimePurchase;
    }
  },
  mounted() {
    this.product.isLoading = false;
    this.assignAddOn()
  },
  template: `
    <div class="product-card text-center" v-if="product">
      <img class="block mx-auto" :src="product.images[0].large" :alt="product.title">

      <p class="s-heading ros">{[ product.title ]}</p>
       <button 
		class="btn btn-lg mt-2" 
        :class="{ 'is-loading': product.isLoading }"  
		:disabled="isDiabled"
        @click.prevent="addToCart">
         <span class="spinner" :class="{ 'opacity-100': product.isLoading, 'opacity-0': !product.isLoading }">
			<svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"/><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"/></svg>
         </span>
         <span :class="{ 'opacity-0': product.isLoading }">
			{[ atcButtonText ]}
         </span>
       </button>
       
       <span class="text-xs mt-4 text-link table mx-auto " v-if="alreadyInCart" @click="removeOnetime">Remove from Order</span>
  	</div>
  `
});

var vm = new Vue({
  el: '#app',
  delimiters: ['{[', ']}'],
  data: {
    settings: __theme.settings,
    cc_source: {{ payment_source_url | json }},
  	cc_form_url: {{ payment_source_form_url | json }},
    addresses: [],
    charge: JSON.parse(sessionStorage.getItem('rc_charges')),
    loading: false,
   	customer: {{ customer | json }},
	payment: {{ payment_sources[0] | json }},
	token: window.getToken(),
    products: [],
  	active: [],
  	cancelled: [],
	subscriptions: [],
	recharge: null,
  	currentSubscription: {{ subscription | json }},
    sidebar: false,
    sidebarToDisplay: null,
    sidebarLoading: false,
	reasons: "",
    feedback: "",
    selectedDate: null,
	selectedVariant: false,
    sidebarText: {
      product: {
        text: "Product"
      },
      shipping: {
        eyebrow: 'Edit shipping address',
        text: 'For all upcoming orders'
      },
      billing: {
        eyebrow: 'Edit billing address',
        text: 'For all upcoming orders'
      },
      frequency: {
        eyebrow: 'Edit order frequency',
        text: 'Ship my order to me...'
      },
      date: {
        eyebrow: 'reschedule shipment',
        text: 'Select a new date'
      },
      'swap-product': {
        text: 'Select Product'
      },
      'credit-card': {
        eyebrow: 'Edit CARD ON FILE',
        text: 'For all upcoming orders'
      },
      cancel: {
        eyebrow: 'cancel membership',
        text: 'Let us know why you\'re canceling',
        text2: 'Anything else you\'d like to share?'
      },
      skip: {
        eyebrow: 'Want to skip instead?',
        text: 'We’d hate to see you go. Keep your membership active and skip your next shipment instead.'
      }
    },
    sidebarType: '',
    sidebarLoading: false,
    selectedFrequency: null,
    processingRequest: false,
    shipping_address: {},
  	billingAddress: {},
    cardOnFile: null,
    frequencyButtonLoading: false,
    cancelButtonLoading: false,
	reactiveButtonLoading: false,
    rescheduleButtonLoading: false,
    updateFlavorLoading: false,
    updateShippingLoading: false,
    updateBillingLoading: false,
    skipLoading: false,
    oneOffProducts: [],
    onetimes: [],
   	loadingOnetimes: [],
	currentDiscounts: [],
  	highestDiscountCode: 1,
    products: JSON.parse(sessionStorage.getItem('rc_products')),
    swappableProducts: [],
  },
  watch: {},
  methods: {
    cancelSubscription(payload) {
      const url = `${__theme.endpoints.customerBase}subscriptions/${this.currentSubscription.id}/cancel?token=${this.token}`
      this.cancelButtonLoading = true;
      this.sidebarLoading = true;
      this.sidebar = true;
      
      axios({
  		method: 'post',
  		url: url,
        data: {
          "cancellation_reason": payload.reason,
          "cancellation_reason_comments": payload.feedback
        }
	  }).then(resp => {
        if (resp.status === 200) {
          	this.currentSubscription = Object.assign(this.currentSubscription, resp.data.subscription);
			this.cancelButtonLoading = false;
			this.sidebarLoading = false;
			this.sidebar = false;
            ReCharge.Toast.addToast('success', 'Successfully cancelled membership');
        }
      }).catch((error) => {
        // TODO ERROR HANDLING
	    console.log('ERROR: ', error);
	  })
    },
    updateBillingAddress(payload) {
		this.sidebarLoading = true;
      	this.updateBillingLoading = true;
		const url = `${__theme.endpoints.customerBase}payment_source/1/address?token=${this.token}`;
        
      axios({
  		method: 'post',
  		url: url,
        data: payload
	  }).then(resp => {
        if (resp.status === 200) {
        	this.customer = Object.assign(this.customer, resp.data.customer);
        	this.payment.billing_address = Object.assign(this.payment.billing_address, {
              address1: payload.billing_address1,
              address2: payload.billing_address2,
              city: payload.billing_city,
              company: payload.billing_company,
              first_name: payload.billing_first_name,
              last_name: payload.billing_last_name,
              phone: payload.billing_phone,
              province: payload.billing_province,
              zip: payload.billing_zip,
              email: payload.email
          });
          this.updateBillingLoading = false;
          this.sidebarLoading = false;
          this.sidebar = false;
        }
      }).catch((error) => {
                // TODO ERROR HANDLING
	    console.log('ERROR: ', error);
	  })
    },
    updateShippingAddress(payload) {
        this.sidebarLoading = true;
		this.updateShippingLoading = true;
		const url = `${__theme.endpoints.customerBase}addresses/${this.currentSubscription.address.id}?token=${this.token}`
        
      axios({
  		method: 'post',
  		url: url,
        data: {
          address1: payload.billing_address1,
          address2: payload.billing_address2,
          city: payload.billing_city,
          company: payload.billing_company,
          first_name: payload.billing_first_name,
          last_name: payload.billing_last_name,
          phone: payload.billing_phone,
          province: payload.billing_province,
          zip: payload.billing_zip
        }
	  }).then(resp => {
        if (resp.status === 200) {
          this.currentSubscription.address = Object.assign(this.currentSubscription.address, resp.data.address);
          this.currentSubscription.address_id = resp.data.address.id;
          this.shipping_address =  Object.assign(this.currentSubscription.address, resp.data.address);;
          this.shipping_address.id = resp.data.address.id;
          this.updateShippingLoading = false;
          this.sidebarLoading = false;
		  this.sidebar = false;
        }
      }).catch((error) => {
                // TODO ERROR HANDLING
	    console.log('ERROR: ', error);
	  })
    },
    getPaymentSource() {
      let schema = '{ "customer": {}, "payment_sources": [], "settings": {}, "store": {} }';
      const url = `${__theme.endpoints.customerBase}request_objects?token=${this.token}&schema=${schema}`
      
	  axios({
  		method: 'get',
  		url: url,
	  }).then(resp => {
        if (resp.status === 200) {
	        this.cardOnFile = resp.data.payment_sources[0];          
        }

      }).catch((error) => {
                // TODO ERROR HANDLING
	    console.log('ERROR: ', error);
	  })
      
    },
    getCustomerAddresses(){
		const schema = '{"addresses": {"discount": {"id": "parent.discount_id"}},"customer": {}, "settings": {},"store": {}}';
    
		const url = `${__theme.endpoints.customerBase}request_objects?token=${this.token}&schema=${schema}`;
      
		axios({
  			method: 'get',
  			url: url,
	  	}).then(resp => {
          const {
            status, 
            data
          } = resp
          if (status === 200) {
              this.addresses = data.addresses      
          }
        })
    },
    rescheduleHandler() {
	  const url = `${__theme.endpoints.customerBase}subscriptions/${this.currentSubscription.id}/set_next_charge_date?token=${this.token}`
      
      this.rescheduleButtonLoading = true;
      this.sidebarLoading = true;
      
      axios({
  		method: 'post',
  		url: url,
        data: {
          "date": this.selectedDate
        }
	  }).then(resp => {
        this.closeSidebar();
        this.sidebarLoading = false;
        
        const mergedObject = Object.assign(this.currentSubscription, resp.data.subscription);
        this.currentSubscription = mergedObject;
        this.rescheduleButtonLoading = false;
      })
    },
    dateChangeHandler(date) {
		return this.selectedDate = dateFns.format(date, 'YYYY-MM-DD');
	},
    flavorHandler(flavor) {
		return this.selectedFlavors.push(flavor)
    },
    filterFlavors() {
      const variants = this.currentSubscription.product.shopify_details.variants;
	  variants.map((variant) => {  
        if (variant.title === 'Haus Essentials') {
          variant.titles = ['Bitter Clove', 'Citrus Flower'];
        } else {
          variant.titles = [
            ...variant.title.split('+').map((term) => _.deburr(term.trim())),
          ];
        }
         
        this.flavors = [...this.flavors, ...variant.titles];
        
      }).filter(flavor => !!flavor).map(flavor => flavor);
      
      this.flavors = _.uniq(this.flavors).sort();
    },
    swapProduct() {
    // TODO: Fix the response to include customer address and info
    // we may need to make multiple calls and merge the data together
      this.sidebarLoading = true;
	  this.updateFlavorLoading = true;
      
      const variants = this.currentSubscription.product.shopify_details.variants;
      const flavors = this.selectedFlavors;
      const selected = variants.filter((variant) => !!variant.titles).find(variant => {
       if (_.isEqual(variant.titles.sort(), flavors.sort())) {
          return variant;
		}
      });
      
      const url = `${window.__theme.endpoints.customerBase}subscriptions/${this.currentSubscription.id}?token=${this.token}`
      
      axios({
  		method: 'post',
  		url: url,
        data: {
          shopify_variant_id: selected.shopify_id
        }
	  }).then(resp => {
        if (resp.status === 200) {
            const mergedObject = Object.assign(this.currentSubscription, resp.data.subscription);
			this.currentSubscription = mergedObject;
            this.sidebarLoading = false
			this.sidebar = false;
            this.updateFlavorLoading = false;
        }
      })
      
    },
    updateExistingProduct(payload) {
      console.log('-- updateExistingProduct --', payload)
      const url = `${window.__theme.endpoints.customerBase}subscriptions/${this.currentSubscription.id}?token=${this.token}`
      
      axios({
  		method: 'post',
  		url: url,
        data: payload
	  }).then(resp => {
        if (resp.status === 200) {
            const mergedObject = Object.assign(this.currentSubscription, resp.data.subscription);
			this.currentSubscription = mergedObject;
            this.sidebarLoading = false
			this.sidebar = false;
        }
      })
    },
    displaySubscriptionSidebar() {
		this.openSidebar('swap-product')
    },
    swapSubscription(payload) {

      const url = `${__theme.endpoints.customerBase}subscriptions/${this.currentSubscription.id}?token=${this.token}`

      let data = 
      console.log('swap subscrtiption: ', payload)      
      console.log('url: ', url)
      console.log('data: ', data)

      axios({
  		method: 'post',
  		url: url,
        data: {
        	shopify_variant_id: payload.variant.shopify_id,
		},
		headers: headers,
	  }).then(resp => {
        console.log('swap resp: ', resp)
      }).catch((error) => {
                // TODO ERROR HANDLING
	    console.log('ERROR: ', error);
	  })
    },
    frequencyHandler(frequencyInMonths) {
		return this.selectedFrequency = frequencyInMonths;
    },
    updateFrequency() {
        this.sidebarLoading = true;
		this.frequencyButtonLoading = true;
		const url = `${__theme.endpoints.customerBase}subscriptions/${this.currentSubscription.id}?token=${this.token}`
      
		axios({
  			method: 'post',
  			url: url,
          	data: {
              'charge_interval_frequency': this.selectedFrequency,
              'order_interval_unit': 'month',
              'order_interval_frequency': this.selectedFrequency,
            }
  	  	}).then(resp => {
            const mergedObject = Object.assign(this.currentSubscription, resp.data.subscription);
			this.currentSubscription = mergedObject;
            this.sidebarLoading = false
          	this.sidebar = false;
            this.frequencyButtonLoading = false;
		})
    },
    skipShipment() {
      const url = `${__theme.endpoints.customerBase}subscriptions/${this.currentSubscription.id}/skip?token=${this.token}`
      this.skipLoading = true;
      
      axios({
  		method: 'post',
  		url: url,
	  }).then(resp => {
        this.getCurrentSubscription();
	    this.skipLoading = false;
        this.sidebarLoading = false
        this.sidebar = false;
        ReCharge.Toast.addToast('success', 'Successfully skipped shipment');
      })
    },
    activateSubscription() {
      this.reactiveButtonLoading = true;
      
      axios({
  		method: 'post',
  		url: `${__theme.endpoints.customerBase}subscriptions/${this.currentSubscription.id}/activate?token=${this.token}`
	  }).then(resp => {
        if (resp.status === 200) {
        	const mergedObject = Object.assign(this.currentSubscription, resp.data.subscription);
        	this.currentSubscription = mergedObject;
        	this.processingRequest = false;
			this.reactiveButtonLoading = false;
        }
      })
    },
    openSidebar(type) {
      console.log('open type: ', type);
      this.sidebar = true;
      this.sidebarType = type;
      this.sidebarToDisplay = type;
    },
    closeSidebar() {
      this.sidebar = false;
      this.sidebarToDisplay = false;
    },
  	formatDate(date) {
      return dateFns.format(date, 'MMMM D, YYYY')
    },
    getCurrentSubscription() {
	  const schema = `{ "subscription": { "id": ${this.currentSubscription.id} }, "onetimes": [] }`;
      const url = `${__theme.endpoints.customerBase}request_objects?token=${this.token}&schema=${schema}`;
	  axios(url).then(resp => {
      	if (resp.status === 200) {
          const mergedObject = Object.assign(this.currentSubscription, resp.data.subscription);
          this.subscription = mergedObject;
        }
      });
    },
    getAddedOneTimeProductsToSubscription() {
      let schema = `{ "subscriptions": { "products": {} }, "onetimes": { "products": {} }, "customer": {}, "settings": {}, "store": {} }`;
      
      const url = `${__theme.endpoints.customerBase}request_objects?token=${this.token}&schema=${schema}`;
      
	  axios(url).then(resp => {
      	if (resp.status === 200) {
          	this.oneOffProducts = resp.data.products
        }

      });
    },
    getCurrentOneTimeProducts() {
	  const schema = `{ "subscription": { "id": ${this.currentSubscription.id} }, "onetimes": [] }`;
      const url = `${__theme.endpoints.customerBase}request_objects?token=${this.token}&schema=${schema}`;
	  axios(url).then(resp => {
      	if (resp.status === 200) {
          this.onetimes = resp.data.onetimes
        }
      });
    },
    getOneTimeProducts() {
      	let filtered = null;
		const exclusions = [];
		const schema = '{"customer": {},"products": { "base_source": "store_settings", "page": 1 }, "products_count": {"base_source": "store_settings" },"settings": {},"store": {}}';
    
		const url = `${__theme.endpoints.customerBase}request_objects?token=${this.token}&schema=${schema}`;

		axios(url).then(resp => {
        
			if (resp.status === 200) {
				filtered = resp.data.products.filter(product => !exclusions.some(r=> product.handle.indexOf(r) >= 0)).filter(product => product.shopify_details &&  product.shopify_details.variants.length > 0 &&  product.shopify_details.variants[0].inventory_quantity > 10).map(product => {
              return {
              	...product,
              	'isLoading': false                
              }
            })
        }
          
         this.oneOffProducts = filtered
      });
    },
    addOneTimeProductToOrder(product) {
        const sub = this.currentSubscription;
        const formattedDate = dateFns.format(this.currentSubscription.next_charge_scheduled_at, 'YY-DD-MM')        
        const url = `${__theme.endpoints.customerBase}onetimes?token=${this.token}`
        const data = {
          shopify_variant_id: product.shopify_details.variants[0].shopify_id,
          address_id: sub.address_id,
          quantity: 1,
          next_charge_scheduled_at: this.currentSubscription.next_charge_scheduled_at
        }
        
        // Get index of product that is being added to order. 
		const itemIndex = this.oneOffProducts.findIndex(p => p === product);
        // set selected product to a loading state. 
        this.$set(this.oneOffProducts[itemIndex], 'isLoading', true);
        
        axios({
  			method: 'post',
			url: url,
          	data: data
        }).then(resp => {
		  const {
              status, 
              data
            } = resp;
          
          if (status === 200) {
            ReCharge.Toast.addToast('success', `Success! ${product.title} will be in your next order.`);
            this.getCurrentOneTimeProducts();
          }
        }).then(() => {
            this.$set(this.oneOffProducts[itemIndex], 'isLoading', false);
        })
    },
    updateSidebarText(type) {
      this.sidebarType = type;
      return this.sidebarText[type]
    },
	removeOnetime({addOn, product}) {
		const url = `${__theme.endpoints.customerBase}onetimes/${addOn.id}/cancel?token=${this.token}`
        // Get index of product that is being added to order. 
		const itemIndex = this.oneOffProducts.findIndex(p => p === product);
        // set selected product to a loading state. 
        this.$set(this.oneOffProducts[itemIndex], 'isLoading', true);
      
        axios({
  			method: 'post',
			url: url,
        }).then(resp => {
		  const {
              status, 
              data
            } = resp;
          if (status === 200) {
            ReCharge.Toast.addToast('success', `The ${product.title} add-on was removed from your order.`);
            this.getCurrentOneTimeProducts();
          }
        }).then(() => {
            this.$set(this.oneOffProducts[itemIndex], 'isLoading', false);          
        })
    },
  }, 
  computed: {
    renderIntervalText() {
      const {
        order_interval_frequency,
        order_interval_unit,
      } = this.currentSubscription;
      
      return `Every ${order_interval_frequency} ${order_interval_unit}${Number(order_interval_frequency) > 1 ? 's': ''}` 
    },
    renderSidebarText(type) {
      if (type) {
		return this.sidebarText[this.sidebarType];        
      }
    },
    addOnProductTitles() {
      	const labels = []
      	const products = {}
      
		this.onetimes.map((item) => {
			const exists = products[item.product_title]
			if (!exists) {
            	products[item.product_title] = {
	              title: item.product_title,
    	          quantity: item.quantity
        	    }
            } else {
              exists.quantity = exists.quantity + 1;
            }
        })
      
		for (const property in products) {
			labels.push(`${products[property]['title']} (${products[property]['quantity']}x)`)
		}
		
      return labels.join(', ')
    }
  },
  mounted() {
	this.products = JSON.parse(sessionStorage.getItem('rc_products'))
    this.shipping_address = this.currentSubscription.address;
    this.selectedFrequency = this.currentSubscription.order_interval_frequency;
  
    if (this.payment.hasOwnProperty('billing_address')) {
    	this.billingAddress = this.payment.billing_address
    }
    
    this.getCurrentOneTimeProducts()
    
    console.log('products: ', this.products);
    this.swappableProducts = this.products.filter(product => {
		return product.subscription_defaults.storefront_purchase_options !== 'onetime_only'
    })
  },
  created() {
    this.getCustomerAddresses();
    this.getPaymentSource();
    this.getAddedOneTimeProductsToSubscription()
    this.getOneTimeProducts();
    /**
    Legacy Recharge for the Credit Card Management

    window.addEventListener("message", (evt) => {

      if (event.origin.startsWith('https://drinkhaus-sp.admin.rechargeapps.com') && event.data && event.data.billingComplete) {
          this.getPaymentSource()
          this.sidebarLoading = false;
          this.sidebar = false;
          this.processingRequest = false;
      }
    }, false);
    **/
  }
})

</script>
{% endblock %}
